<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>
  <body>
    <%- include('./components/navbar', { page, links }) %>
    <h1 class="about__title">So who am I?</h1>
    <p class="about__content">
      My name is Josh Searle, and I am currently studying Computer Science at
      Monash University, specialising in Advanced Computer Science. During my
      degree, I have been focusing on a broad selection of topics, ranging from
      Software Development, Mobile Development, Data Science, and Cybersecurity.
      <br />
      <br />
      During my free time, I have also self taught myself fullstack web
      development, learning technologies such as React, Node.js, PostgreSQL, and
      many more. I have also gained an interest in cloud technologies, so I am
      currently pursing the Solutions Architect Associate Certification from
      AWS.
      <br />
      <br />
      Some of my hobbies outside of technology include playing the guitar,
      fitness, the outdoors, and camping.
    </p>
  </body>
</html>
