<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>
  <body>
    <%- include('./components/navbar', { page, links }) %>
    <div class="home">
      <h1 class="home__title">My Name is Josh,<br />and I'm a Developer.</h1>
      <div class="home__buttons">
        <a class="home__projects" href="/projects">See my work</a>
        <a class="home__contact" href="/contact">Let's get in touch</a>
      </div>
      <div class="circle1"></div>
      <div class="circle2"></div>
    </div>
  </body>
</html>
