* {
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden visible;
}

.background {
  overflow: hidden;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.background img {
  min-width: 100vw;
  min-height: 100%;
}
