/* Global Styles */

* {
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden visible;
  font-family: 'IBM Plex Mono', monospace;
  box-sizing: border-box;
}

/* Background Styles */

.background {
  overflow: hidden;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.background img {
  min-width: 100vw;
  min-height: 100%;
}

/* Navbar Styles */

.navbar {
  margin: 1em auto;
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.navbar-animation {
  animation: load-nav;
  animation-duration: 0.7s;
}

@keyframes load-nav {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

.navbar a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.navbar a:hover {
  animation-name: link-hover;
  animation-duration: 0.4s;
  color: white;
  border-bottom: 2px solid white;
}

.navbar a:active {
  color: black;
  border-bottom: 2px solid black;
}

@keyframes link-hover {
  0% {
    color: black;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
  }

  50% {
    color: #c683a6;
    border-bottom: 2px solid rgba(198, 131, 166, 0.5);
  }

  100% {
    color: white;
    border-bottom: 2px solid white;
  }
}

@media (max-width: 800px) {
  .navbar {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .navbar {
    width: 95%;
  }
}
