/* Global Styles */

* {
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden visible;
  font-family: 'IBM Plex Mono', monospace;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

.link {
  text-decoration: none;
}

.title {
  text-align: center;
}

/* Background Styles */

.background {
  overflow: hidden;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.background img {
  min-width: 100vw;
  min-height: 100%;
}

/* Navbar Styles */

.navbar {
  margin: 1em auto;
  margin-bottom: 4em;
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.navbar-animation {
  animation: load-nav;
  animation-duration: 0.7s;
}

@keyframes load-nav {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

.navbar a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.navbar a:hover {
  animation-name: link-hover;
  animation-duration: 0.4s;
  color: white;
  border-bottom: 2px solid white;
}

.navbar a:active {
  color: black;
  border-bottom: 2px solid black;
}

@keyframes link-hover {
  0% {
    color: black;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
  }

  50% {
    color: #c683a6;
    border-bottom: 2px solid rgba(198, 131, 166, 0.5);
  }

  100% {
    color: white;
    border-bottom: 2px solid white;
  }
}

/* Home screen */

.home {
  position: fixed;
  top: 47%;
  left: 50%;
  width: 100%;
  font-size: 3rem;
  max-width: 80%;
  text-align: center;
  opacity: 0;
  transform: translate(-50%, 0);
  padding: 1em;
}

.home-animation {
  animation: home-animation;
  animation-duration: 0.7s;
  opacity: 100%;
  transform: translate(-50%, -50%);
}

@keyframes home-animation {
  from {
    opacity: 0;
    transform: translate(-50%, 0);
  }

  to {
    opacity: 100%;
    transform: translate(-50%, -50%);
  }
}

/* Button */

.button {
  color: white;
  background-color: #6c41ad;
  margin-top: 3em;
  padding: 1em 3em;
  font-size: 1.5rem;
  border-radius: 0.2em;
  animation: button-unhover;
  animation-duration: 0.3s;
  transform: scale(1);
}

.button:hover {
  animation: button-hover;
  animation-duration: 0.3s;
  transform: scale(1.1);
}

@keyframes button-hover {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes button-unhover {
  to {
    transform: scale(1);
  }
  from {
    transform: scale(1.1);
  }
}

/* Project Tile */

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  padding: 1em;
}

@media (max-width: 900px) {
  .projects {
    width: 90%;
  }
}

.project-tile {
  background-color: white;
  border-radius: 0.4em;
  width: 30em;
  margin: 2em auto;
  padding: 1em 1em;
  padding-left: 4em;
  animation: unhover-project;
  animation-duration: 0.4s;
  transform: scale(1);
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tile-info {
  text-align: center;
  width: 10em;
}

.project-tile:hover {
  animation: hover-project;
  animation-duration: 0.4s;
  transform: scale(1.01);
}

.project-tile-img img {
  height: 10em;
}

.project-tile-title {
  font-size: 1.2rem;
}

@keyframes hover-project {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.01);
  }
}

@keyframes unhover-project {
  to {
    transform: scale(1);
  }

  from {
    transform: scale(1.01);
  }
}

/* Meida Queries */

@media (max-width: 800px) {
  .navbar {
    width: 80%;
  }

  .home {
    max-width: 80%;
    font-size: 2.5rem;
  }

  .button {
    font-size: 1.2rem;
  }
}

@media (max-width: 450px) {
  .navbar {
    width: 95%;
  }

  .home {
    max-width: 95%;
  }
}
